

NET "A_7SEG" LOC = P41;
NET "B_7SEG" LOC = P40;
NET "C_7SEG" LOC = P35;
NET "D_7SEG" LOC = P34;
NET "E_7SEG" LOC = P32;
NET "F_7SEG" LOC = P29;
NET "G_7SEG" LOC = P27;
NET "Input_A" LOC = P59;
NET "Input_B" LOC = P61;
NET "Input_C" LOC = P62;
NET "Input_D" LOC = P66;

# PlanAhead Generated physical constraints 

NET "COMMON0" LOC = P44;
