//! **************************************************************************
// Written by: Map P.20131013 on Tue Aug 06 10:16:52 2024
//! **************************************************************************

SCHEMATIC START;
COMP "P40" LOCATE = SITE "P40" LEVEL 1;
COMP "P32" LOCATE = SITE "P32" LEVEL 1;
COMP "P41" LOCATE = SITE "P41" LEVEL 1;
COMP "P34" LOCATE = SITE "P34" LEVEL 1;
COMP "P35" LOCATE = SITE "P35" LEVEL 1;
COMP "P27" LOCATE = SITE "P27" LEVEL 1;
COMP "P44" LOCATE = SITE "P44" LEVEL 1;
COMP "P29" LOCATE = SITE "P29" LEVEL 1;
COMP "P123" LOCATE = SITE "P123" LEVEL 1;
SCHEMATIC END;

