

NET "P27" LOC = P27;
NET "P29" LOC = P29;
NET "P30" LOC = P30;
NET "P32" LOC = P32;
NET "P33" LOC = P33;
NET "P34" LOC = P34;
NET "P35" LOC = P35;
NET "P40" LOC = P40;
NET "P41" LOC = P41;
NET "P43" LOC = P43;
NET "P44" LOC = P44;
NET "P123" LOC = P123;
NET "PB1_P45" LOC = P47;

# PlanAhead Generated physical constraints 

NET "P78" LOC = P78;
NET "P75" LOC = P75;
NET "P74" LOC = P74;
NET "P67" LOC = P67;
